
Code/.DS_Store
.idea/MediaPipe.iml
.idea/other.xml
.idea/workspace.xml
.idea/MediaPipe.iml
.idea/workspace.xml
.idea/workspace.xml
.idea/MediaPipe.iml
.idea/workspace.xml
.idea/workspace.xml
.idea/misc.xml
.idea/MediaPipe.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/MediaPipe.iml
.idea/misc.xml
.idea/workspace.xml
